#brewlist {
    text-align: center;
    position: absolute;
    margin-top: 1%;
    margin-left: 30%;
    border-style: solid;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 40%;
    height: 61%;
	background:linear-gradient(rgb(255, 255, 161), white);
	padding: 10px;
}

#brewtext {
    animation-name: appear;
    animation-duration: 2s;
  }
  @keyframes appear{
    from{opacity: 0;}
    to{opacity: 1;}
  }